/* Allgemeines Styling */

body {
    background-color: black;
    font-family: Helvetica Now Text;
    color: rgb(12, 57, 221);
}

h1 {
    text-align: center;
    font-size: 80px;
    color: aqua;
}

p {
    font-size: 18px;
    text-align: center;
    color: white;
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.video {
    width: 400px;
    height: 220px
}

.ersterContainer {
    display: flex;
    align-items: start;

}

.zweiterContainer {
    display: flex;
    align-items: start;

}

.tkst1 {
    margin: 0;
    font-size: 50px;
    color: white;
    text-align: center;
}

.bild {
    margin-right: 50px;
}